Source: domtrix
Section: ruby
Priority: extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Neil Wilson <neil@aldur.co.uk>
Build-Depends: debhelper (>= 7.0.50~), ruby1.8, ruby1.8-dev
Standards-version: 3.9.1

Package: domtrix-lb
Architecture: all
Depends: ruby1.8, libdomtrix-core-ruby, libjson-ruby, ${misc:Depends}
Suggests: daemontools-run
Description: domtrix worker package for load balancers
 Domtrix provides a Stomp based message queue consumer system for managing
 virtual machines.
 .
 This worker manages load balancer images based on haproxy.

Package: libdomtrix-core-ruby
Architecture: all
Depends: libdomtrix-core-ruby1.8, ${misc:Depends}
Description: core libraries for the domtrix worker system
 Domtrix provides a Stomp based message queue consumer system for managing
 virtual machines.
 .
 This package is a dependency package, which depends on the package
 containing the actual bbcloud package for the default Ruby version
 (currently 1.8).

Package: libdomtrix-core-ruby1.8
Architecture: all
Depends: ruby1.8, libstomp-ruby1.8, ${misc:Depends}
Description: core libraries for the domtrix worker system
 Domtrix provides a Stomp based message queue consumer system for managing
 virtual machines.
 .
 This package contains the core libraries for Ruby1.8
