#!/usr/bin/make -f
SETUP1.8=/usr/bin/env ruby1.8 setup.rb
SETUP1.9=/usr/bin/env ruby1.9 setup.rb
%:
	dh $@

override_dh_auto_clean:
	$(SETUP1.8) distclean

override_dh_auto_configure:
	$(SETUP1.8) config --installdirs=std --rubypath='/usr/bin/env ruby'

override_dh_auto_build:
	$(SETUP1.8) setup

override_dh_auto_install:
	$(SETUP1.8) install --prefix=debian/tmp
	install -D --mode 644 -o root -g root debian/30-domtrix-lb-keepalive.conf $(CURDIR)/debian/tmp/etc/sysctl.d/
